:root {
  --swatch-light-beige: #ede5c5;
  --swatch-beige: #947e1b;
  --swatch-black: #000000;
  --swatch-grey: #707070;
  --swatch-light-ocean: #599c92;
  --swatch-ocean: #17524a;
  --swatch-white: #ffffff;
}

/* 10. PROJECT DETAIL */

.project-detail {
  font-family: 'Arial', sans-serif;
  border-bottom: 1px solid var(--swatch-beige);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}

.project-detail-column {
  grid-column: span 12;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .project-detail-column {
    grid-column: span 6;
  }
}

@media (min-width: 1025px) {
  .project-detail-column {
    grid-column: span 4;
  }
}

.project-detail-column > img {
  max-width: 100%;
  height: auto;
  display: block;
}

.project-detail-title {
  break-inside: avoid;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.project-detail-definition {
  padding: 0;
  margin: 8px 0 20px 0;
  color: var(--swatch-ocean);
}

.project-detail-text {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.project-detail-text > a {
  margin-bottom: 8px;
  cursor: pointer;
}
 /* 11. OUD EN NIEUW SLIDER */

.image-comparer {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 20px;
}

.image-comparer-image,
.image-comparer-text {
  grid-column: span 12;
}

.image-comparer-image {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 5 / 4;
}

.image-comparer-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-comparer-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid var(--swatch-beige);
  margin-top: 10px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image-comparer-image {
    grid-column: span 6;
  }
  .image-comparer-text {
    grid-column: span 6;
  }
}

@media (min-width: 1025px) {
  .image-comparer-image {
    grid-column: span 8;
  }
  .image-comparer-text {
    grid-column: span 4;
  }
}

.image-comparer-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4px;
  font-size: 10px;
}

.image-comparer-subtitle {
  font-size: 12px;
  color: var(--swatch-ocean);
  margin-bottom: 16px;
  text-align: right;
}

/* 12. QUOTE */

.quote {
  color: var(--swatch-ocean);
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}

.quote-text,
.quote-image {
  grid-column: span 12;
}

.quote-text::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  -webkit-mask-image: url('https://img.icons8.com/?size=100&id=lO7AfSDCWFBX&format=png&color=1A1A1A');
  mask-image: url('https://img.icons8.com/?size=100&id=lO7AfSDCWFBX&format=png&color=1A1A1A');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--swatch-ocean);
  margin-bottom: 28px;
}

.quote-quote {
  font-size: 36px;
  margin: 0;
}

.quote-author {
  display: block;
  margin-top: 28px;
  font-style: normal;
}

.quote-name {
  color: var(--swatch-black);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.quote-subtitle {
  display: block;
  margin-top: 4px;
  color: var(--swatch-grey);
  font-size: 12px;
}

.quote-image {
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .quote-text {
    grid-column: span 6; 
  }
  
  .quote-image { 
    grid-column: span 6; 
  }
}

@media (min-width: 1025px) {
  .quote-text { 
    grid-column: span 6; 
  }
  
  .quote-image {
    grid-column: 8 / span 4; 
  }
}

/* 13. FOTOCOLLAGE */

.image-collage {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 10px 20px 20px 20px;
}

.image-collage-single,
.image-collage-small-big,
.image-collage-double,
.image-collage-triple {
  grid-column: span 12;
  display: block;
}

.image-collage-image {
  width: 100%;
  border-radius: 4px;
  display: block;
  height: 500px;
  object-fit: cover;
  margin-top: 10px;
}

.image-collage-text {
  grid-column: span 12;
  border-bottom: 1px solid var(--swatch-beige);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image-collage-title {
  margin-bottom: 4px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.image-collage-subtitle {
  font-size: 12px;
  color: var(--swatch-ocean);
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .image-collage-small-big,
  .image-collage-double,
  .image-collage-triple {
    display: contents;
  }

  .image-collage-small-big img:first-child {
    grid-column: span 4;
  }

  .image-collage-small-big img:last-child {
    grid-column: span 8;
  }

  .image-collage-double img {
    grid-column: span 6;
  }

  .image-collage-triple img {
    grid-column: span 4;
  }
}

/* 14. SINGLE IMAGE */

.image {
  font-family: 'Arial';
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 20px;
}

.image-image {
  border-radius: 4px;
  grid-column: span 12;
  overflow: hidden;
  margin-bottom: 4px;
}

.image-image img {
  width: 100%;
  display: block;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.image-text {
  border-bottom: 1px solid var(--swatch-beige);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: span 12;
}

.image-caption {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.image-caption-sub {
  color: var(--swatch-ocean);
  margin-bottom: 16px;
  font-size: 12px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image-image,
  .image-text {
    grid-column: span 12;
  }
}

@media (min-width: 1025px) {
  .image-image-two,
  .image-text-two {
    grid-column: 5 / span 8;
  }
}

/* 15. UITGELICHT */

.featured {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  padding: 20px;
  font-family: 'Arial';
}

.featured-text {
  background-color: var(--swatch-light-ocean);
  padding: 24px 32px 24px 24px;
  grid-column: span 12;
  order: 1;
  border-radius: 0 0 4px 4px;
}

.featured-title {
  color: var(--swatch-white);
  margin-bottom: 28px;
  font-weight: normal;
  text-transform: uppercase;
}

.featured-paragraph {
  margin-bottom: 20px;
  line-height: 30px;
}

.featured-image {
  overflow: hidden;
  grid-column: span 12;
  border-radius: 4px 4px 0 0;
  order: 0;
  height: 400px;
}

.featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.button {
  padding: 16px 20px;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  user-select: none;
  position: relative; 
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 10px 10px 10px 0;
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  transition: all 0.12s ease-in-out;

  &::after {
    content: "";
    display: inline-block;
    height: 24px;
    
    -webkit-mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    
    background-color: var(--swatch-white);
    vertical-align: middle;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--swatch-white);
    color: var(--swatch-ocean);
    box-shadow: inset 0 0 0 1px var(--swatch-ocean);

    &::after {
      width: 24px;
      margin-left: 12px;
      opacity: 1;
      background-color: var(--swatch-ocean);
    }
  }
}

.button-borderless {
  background-color: var(--swatch-white);
  color: var(--swatch-black);
  
  &:hover {
    box-shadow: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .featured-text {
    border-radius: 4px 0 0 4px;
    order: 0;
    grid-column: span 8;
  }
  
  .featured-image {
    border-radius: 0 4px 4px 0;
    order: 1;
    grid-column: span 4;
  }
}

@media (min-width: 1025px) {
  .featured-text {
    border-radius: 4px 0 0 4px;
    grid-column: 5 / span 5;
    order: 0;
  }
  
  .featured-image {
    border-radius: 0 4px 4px 0;
    grid-column: 10 / span 3;
    order: 1;
  }
}

/* 16. CONTACT DETAILS */

.contact-details {
  font-family: 'Arial';
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 32px 0 20px 0;
  border-top: 1px solid var(--swatch-beige);
}

.contact-details-column {
  grid-column: span 12;
}

.contact-details-intro {
  line-height: 32px;
}

.contact-details-details,
.contact-details-more {
  margin: 0;
  padding-left: 0;
}

.contact-details-header {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
}

.contact-details-name {
  display: block;
  color: var(--swatch-beige);
}

.contact-details-employee {
  color: var(--swatch-ocean);
  display: flex;
  flex-direction: column;
  
  & > img {
    width: 120px;
    height: calc(120px * 4 / 3);
    border-radius: 4px;
    margin-bottom: 20px;
    object-fit: cover;
    display: block;
  }
}

.contact-details-title {
  color: var(--swatch-black);
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-details-definition {
  color: var(--swatch-ocean);
  margin: 8px 0 8px 0;
  font-size: 14px;
  
  & > a {
    display: flex;
    margin-bottom: 8px;
  }
}

.contact-details-definition + .contact-details-title {
  margin-top: 24px;
}

.button {
  padding: 16px 20px;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  user-select: none;
  position: relative; 
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 10px 10px 10px 0;
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  transition: all 0.12s ease-in-out;

  &::after {
    content: "";
    display: inline-block;
    height: 24px;
    
    -webkit-mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    
    background-color: var(--swatch-white);
    vertical-align: middle;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--swatch-white);
    color: var(--swatch-ocean);
    box-shadow: inset 0 0 0 1px var(--swatch-ocean);

    &::after {
      width: 24px;
      margin-left: 12px;
      opacity: 1;
      background-color: var(--swatch-ocean);
    }
  }
}

.button-secundary {
  background-color: transparent;
  color: var(--swatch-black);
  box-shadow: inset 0 0 0 1px var(--swatch-beige);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contact-details-column {
    grid-column: span 6;
  }
  
  .contact-details-details {
    padding-left: 20px;
  }
  
  .contact-details-employee {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 1025px) {
  .contact-details-column {
    grid-column: span 4;
  }
  
  .contact-details-details {
    padding-left: 20px;
  }
  
  .contact-details-employee {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* 17. SECTIE */

.text-section {
  font-family: 'Arial';
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
}

.text-section-two {
  align-items: center;
}

.text-section-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.text-section-content {
  color: var(--swatch-grey);
  line-height: 25px;
}

.text-section-text {
  margin: 20px 0;
}

.text-section-link-two {
  justify-self: start;
}

.button {
  margin-top: 10px;
  padding: 10px 16px;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  user-select: none;
  position: relative; 
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  transition: all 0.12s ease-in-out;
  
  &::after {
    content: "";
    display: inline-block;
    height: 24px;
    -webkit-mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    background-color: var(--swatch-white);
    vertical-align: middle;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  &:hover {
    background-color: var(--swatch-white);
    color: var(--swatch-ocean);
    box-shadow: inset 0 0 0 1px var(--swatch-ocean);
    
    &::after {
      width: 24px;
      margin-left: 12px;
      opacity: 1;
      background-color: var(--swatch-ocean);
    }
  }
}

.button-secundary {
  background-color: transparent;
  color: var(--swatch-black);
  box-shadow: inset 0 0 0 1px var(--swatch-beige);
}

@media (min-width: 1025px) {
  .text-section {
    grid-template-columns: repeat(12, 1fr);
  }

  .text-section-title {
    grid-column: span 4;
  }

  .text-section-content {
    grid-column: 5 / span 8;
  }
  
  .text-section-text {
    margin-top: 0;
  }

  .text-section-link-two {
    justify-self: end;
  }
  
  .button {
    margin-top: 0;
  }
}

/* 19. HIGHLIGHT EXPERTISE */

.highlight {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  font-family: 'Arial';
}

.highlight-title {
  color: var(--swatch-beige);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.highlight-text {
  margin-block: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.highlight-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;  
  color: var(--swatch-beige);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: bold;
  
  & > li {
    margin: 0 10px 10px 0;
    background-color: var(--swatch-light-beige);
    padding: 8px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center; 
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    
    &:hover {
      border: solid 1px var(--swatch-beige);
      
      &::after {
        transform: translateX(2px);
      }
    }
    
    &::after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 12px;
      height: 12px;
      -webkit-mask-image: url('https://img.icons8.com/?size=100&id=59862&format=png&color=000000');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      -webkit-mask-position: center;      
      mask-image: url('https://img.icons8.com/?size=100&id=59862&format=png&color=000000');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: var(--swatch-beige);
      transition: transform 0.3s ease;
    }
  }
}

.highlight-image {
  overflow: hidden;
  aspect-ratio: 5 / 4;
  border-radius: 4px;
  margin-top: 10px;
  
  & > img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .highlight {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .highlight-textblock {
    grid-column: 1;
  }

  .highlight-image {
    grid-column: 2;
    margin-top: 0;
  }
}

@media (min-width: 1025px) {
  .highlight {
    grid-template-columns: repeat(12, 1fr);
  }

  .highlight-textblock {
    grid-column: span 7;
  }

  .highlight-image {
    grid-column: 9 / span 4;
    margin-top: 0;
  }
}

/* 22. MENSEN CARD */

.employee-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.employee-card {
  font-family: 'Arial';
  transition: transform 0.3s ease;
  margin-bottom: 14px;
  
  &:hover {
    transform: translateY(-2px);
    
    .employee-card-image-container {
      box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.16);
      
      &::after {
        opacity: 0;
      }
    }
    
    .employee-card-image {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.employee-card-image-container {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 4px;
  aspect-ratio: 3 / 4;
}

.employee-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
}

.employee-card-name {
  display: block;
  margin-bottom: 8px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.employee-card-function {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
}

.employee-card-details {
  font-size: 14px;
}

.employee-card-link {
  color: var(--swatch-ocean);
  text-decoration: underline;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .employee-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .employee-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 23. VERTICALE UITKLAPPER */

.grid-expandable {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  font-family: 'Arial';
}

.grid-expandable-header {
  grid-column: 1 / -1;
  margin-bottom: 25px;
  font-size: 24px;
  color: var(--swatch-beige);
  text-transform: uppercase;
}

.grid-expandable-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  background: var(--swatch-beige);
  color: var(--swatch-white);
}

.grid-expandable-image img {
  width: 100%;
  aspect-ratio: 16 / 10;
}

.grid-expandable-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.grid-expandable-title {
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.grid-expandable-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  
  &::before, &::after {
    content: "";
    position: absolute;
    background: var(--swatch-white);
    transition: transform 0.3s ease;
  }
  
  &::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
  }
  
  &::after {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    transform: translateX(-50%) scaleY(1);
    transform-origin: center;
  }
  
  &:hover::after {
    transform: translateX(-50%) scaleY(0);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .grid-expandable {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid-expandable {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 25. MEDIA DOWNLOAD */

:root {
  --swatch-green: #449680;
  --swatch-ocean: #17524a;
  --swatch-white: #ffffff;
}

.media-download {
  font-family: 'Arial';
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  padding: 20px;
}

.media-download-container {
  background-color: var(--swatch-green);
  color: var(--swatch-white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1 / -1;
}

.media-download-image {
  align-items: flex-start;
  order: 0;
  display: grid;

  & > img {
    margin-top: 20px;
    height: 200px;
    width: 250px;
  }
}

.media-download-text-block {
  padding: 25px;
  order: 1;
}

.media-download-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.media-download-text {
  margin-bottom: 20px;
  line-height: 24px;
}

.button {
  padding: 16px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  position: relative; 
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 10px 10px 10px 0;
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  transition: all 0.12s ease-in-out;
  line-height: 24px;

  &:hover {
    background-color: var(--swatch-white);
    color: var(--swatch-ocean);
    box-shadow: inset 0 0 0 1px var(--swatch-ocean);

    &::after {
      width: 24px;
      margin-left: 12px;
      opacity: 1;
      background-color: var(--swatch-ocean);
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .media-download-container {
    grid-column: span 12;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .media-download-text-block {
    order: 0; 
    padding: 50px;
  } 
  
  .media-download-image {
    order: 1;
  }
  
  .media-download-title {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .media-download-container {
    grid-column: 5 / span 8;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .media-download-text-block {
    order: 0;
    padding: 50px;
  }
  
  .media-download-image {
    order: 1;
  }
  
  .media-download-title {
    font-size: 32px;
  }
}

/* 09. BUTTONS */

.button {
  padding: 16px 20px;
  text-transform: uppercase;
  border-radius: 32px;
  cursor: pointer;
  user-select: none;
  position: relative; 
  border: none;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 10px;
  background-color: var(--swatch-ocean);
  color: var(--swatch-white);
  transition: all 0.12s ease-in-out;

  &::after {
    content: "";
    display: inline-block;
    height: 24px;
    
    -webkit-mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    mask: url('https://img.icons8.com/?size=100&id=99416&format=png&color=1A1A1A') no-repeat center / contain;
    
    background-color: var(--swatch-white);
    vertical-align: middle;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    background-color: var(--swatch-white);
    color: var(--swatch-ocean);
    box-shadow: inset 0 0 0 1px var(--swatch-ocean);

    &::after {
      width: 24px;
      margin-left: 12px;
      opacity: 1;
      background-color: var(--swatch-ocean);
    }
  }
}

.button-secundary {
  background-color: transparent;
  color: var(--swatch-black);
  box-shadow: inset 0 0 0 1px var(--swatch-beige);
}

.button-borderless {
  background-color: var(--swatch-white);
  color: var(--swatch-black);
  
  &:hover {
    box-shadow: none;
  }
}

.button-link {
  background-color: transparent;
  color: var(--swatch-beige);
  padding-left: 0;
  
  &:hover {
    box-shadow: none;
  }
}

.button-back {
  background-color: transparent;
  color: var(--swatch-ocean);
  padding-left: 34px;
  padding-right: 0;
  position: relative;

  transition: color 0.3s ease, padding-left 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--swatch-ocean);
    -webkit-mask: url('https://img.icons8.com/?size=100&id=87017&format=png&color=1A1A1A') no-repeat center / contain;
    mask: url('https://img.icons8.com/?size=100&id=87017&format=png&color=1A1A1A') no-repeat center / contain;

    opacity: 1;
    transition: background-color 0.3s ease;
  }
  
  &:hover {
    color: var(--swatch-black);
    box-shadow: none;

    &::before {
      background-color: var(--swatch-black);
    }

    &::after {
      content: "";
      width: 0;
      margin-left: 0;
      opacity: 0;
    }
  }
}
